node_modules
.next
.vscode

.env.local
.eslintcache
.gcloudignore
.dockerignore
.firebaserc
.gitignore
.prettierignore
.prettierrc
firebase.json
firestore.indexes.json
firestore.rules
package-lock.json
package.json
storage.rules
tsconfig.build.json
tsconfig.json
LICENSE
README.md
webhooks.sh