rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/{fileName} {
    	allow read: if true;
      allow create, update: if isUser(userId)
                  && request.resource.contentType.matches('image/.*')
                  && request.resource.size < 2 * 1024 * 1024
                  && fileName.size() < 40;
      allow delete: if isUser(userId);
    }

    function isUser(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }
    function isSignedIn() {
      return request.auth.uid != null;
    }
  }
}